<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
</head>
<body>
  {{ if .authinfo }}
    <h1>Welcome {{ .authinfo.FullName }}</h1>
    <ul>
      {{range .roles}}
        <li>{{.}}</li>
      {{end}}
    </ul>
    
    <a href="/secret">Go to Secret Page</a><br>
    <a href="/logout">Logout</a>
  {{ else }}
    <h1>Please Login</h1>
    <form action="/login" method="post">
      User : <input type="text" name="Email"> <br>
      Pass : <input type="text" name="Pass"> <br><br>
      <input type="submit" value="Submit">  
    </form>
  {{ end }}

  <h2>Danh sách user</h2>
  <pre>
    CreateNewUser("Bùi Văn Hiên", "1", "hien@gmail.com", "0123456789", rbac.TRAINER, rbac.MAINTAINER)
    CreateNewUser("Nguyễn Hàn Duy", "1", "duy@gmail.com", "0123456786", rbac.TRAINER, rbac.STUDENT)
    CreateNewUser("Phạm Thị Mẫn", "1", "man@gmail.com", "0123456780", rbac.SALE, rbac.STUDENT)
    CreateNewUser("Trịnh Minh Cường", "1", "cuong@gmail.com", "0123456000", rbac.ADMIN, rbac.TRAINER)
    CreateNewUser("Nguyễn Thành Long", "1", "long@gmail.com", "0123456001", rbac.STUDENT)
  </pre>
</body>
</html>